[submodule "thirdparty"]
	path = thirdparty
	url = https://github.com/nillerusr/source-thirdparty
[submodule "ivp"]
	path = ivp
	url = https://github.com/nillerusr/source-physics
[submodule "lib"]
	path = lib
	url = https://github.com/nillerusr/source-engine-libs.git
[submodule "box3d"]
	path = box3d
	url = https://github.com/johnpanos/box3d.git
